@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');



.offcanvas-body  span:hover{
    border-bottom: 2px solid #FFFFFF;
    color: #FFFFFF;
    /* width: 60px; */
}
#search-btn{
    background-color: #FFC74E;
}
.container{
    width: 80vw;
    margin: 50px auto;
}
.contact-box{
    background: #fff;
    display: flex;
}
.contact-left{
    flex-basis: 60%;
    padding: 40px 60px;
    width: 40vw;
}
.contact-right{
    flex-basis: 60%;
    padding: 40px;
    background: black;
    color: white;
}
h1{
    margin-bottom: 10px;
}
.container P{
    margin-top: 40px;
}
.input-row{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.input-row .input-group{
    flex-basis: 45%;
}
input{
    width: 100%;
    border: none;
    border-bottom: 1px solid #ccc;
    outline: none;
    border-bottom: 5px;
}
textarea{
    width: 100%;
    border: 1px solid #ccc;
    outline: none;
    padding: 10px;
    box-sizing: border-box;
}
label{
    margin-bottom: 6px;
    display: block;
    color: black;
}
button{
    background: black;
    border: none;
    width: 100px;
    outline: none;
    color: #fff;
    height: 35px;
    border-radius: 30px;
    margin-top: 20px;
    box-shadow: 0px 5px 15px 0px rgba(28,0,181,0.3);
}
.contact-left h3{
    color: black;
    font-weight: 600;
    margin-bottom: 30px;
}
.contact-right h3{
    font-weight: 600;
    margin-bottom: 30px;
}
tr td:first-child{
    padding-right: 20px;
}
tr td{
    padding-top: 20px;
}
.map{
    height: 30vh;
    width: 30vw;
    border: 2px solid black;

}
.map iframe{
    height: 30vh ;
    width: 30vw;
    border-radius: 8px;
}
*{
    margin: 0px;
    padding: 0px;
}
body{
    background: #ffc74e;
    font-size: 14px;
    font-family: poppins;
}
header {
    font-family: poppins;
    background: #242833;
}

#logo img {
    height: 80px;
}

header a .logo {
    font-family: babas;
}

header span {
    color: #ffffffbf;
}

header span:hover {
    color: #FFFFFF;
    border-bottom: 2px solid #FFFFFF;
}
.marque {
background-color: #FFF2D7;
margin-top: 40px;
font-size: 100pr;
font-family: poppins;
}

#logo:hover {
transform: scale(1.05);
}

.container{
margin-top: 190px;
}
.marque marquee{
margin-top: 110px;
margin-bottom: -90px;
}

.container2 a {
text-decoration: none;
}

.container2 a:hover {
color: #FFFFFF;
border-bottom: 2px solid #FFFFFF;
}

footer {
font-family: poppins;
background: #242833;
}

#footer2 {
font-family: poppins;
background: #242833;
}

#top-text {
background-color: #F7A701;
font-family: poppins;
}

