@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #FFF2D7;
    background-size: cover;
    height: 100vh;
    /* background-color: #F7A701; */
}
 #top-text{
    background-color: #F7A701;
    z-index: 2;
    font-family: poppins;
} 
marquee {
    background-color: #FFF2D7;
    font-family: poppins;
}

header {
    font-family: poppins;
    background: #242833;
    z-index: 1;
}
#logo img{
    height: 80px;
}
header span {
    color: #ffffffbf;
}


header span:hover {
    color: #FFFFFF;
    border-bottom: 2px solid #FFFFFF;
}

/* footer styles */
.container2 a{
    text-decoration: none;
    font-family: poppins;
    
}
.container2 a:hover {
    color: #FFFFFF;
    border-bottom: 2px solid #FFFFFF;

}

footer{
    font-family: poppins;
    background: #242833;
}
#footer2{
    font-family: poppins;
    background: #242833;
}
.card {
    transition: transform 0.2s, box-shadow 0.2s;
}
.card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.card img{
    height: 320px;
}
h1{
    margin-top: 60px;
    color: #242833;
    background-color: aquamarine;
    font-family: bebas neue;
}
.container{
    margin-top: 100px;
}


@media (max-width:340px) {
    h1{
        font-size: 24px;
    }
    
}
h2{
    font-family: bebas neue;
    background-color: aquamarine;
}